body {
  background-color: lightblue;
  background-image: url('./css.png');
  background-repeat: no-repeat;
  background-position: right bottom;
  background-attachment: fixed;
  height: 100vh;
}

h1 {
  color: white;
  background-color: green;
}